# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDEA files
.idea/
*.iml
*.iws
*.ipr

# Eclipse files
.classpath
.project
.settings/
bin/

# Visual Studio Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Log files
*.log
run/
